/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BODY ===== */
body {
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

/* ===== TITLE ===== */
.title {
  text-align: center;
  margin: 15px 0;
}



/* ===== MONTH HEADER (STICKY) ===== */
.month {
  position: sticky;
  top: 0;
  background:black;
  color: red;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  z-index: 1000;
  font-size: 40px;
  font-weight: 800;
   font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* ===== DATE ROW ===== */
.date-container {
  position: sticky;
  top: 70px;
  display: flex;
  overflow-x: auto;
  background: black;
  padding: 5px 0;
  z-index: 990;
  white-space: nowrap;
}

.date-container::-webkit-scrollbar {
  display: none;
}

/* DATE CIRCLES */
.dates {
  flex-shrink: 0;
  height: 60px;
  width: 60px;
  margin: 5px;
  border-radius: 50%;
  background: lightblue;
  border: 3px solid black;
  font-weight: bold;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today {
  background: #515052 !important;
  color: white;
  border: 3px solid rgb(21, 11, 11);
  transform: scale(1.3);
}
/* ===== HABIT CARD ===== */
.card {
  background:#333138;
  border-radius: 2px;
  margin: 20px;
  margin-bottom: 80px; /* space for bottom bar */
  max-height: 40vh;
  overflow-y: auto;
  border-radius: 4px;
}

.habit-section {
  padding-bottom: 80px; 
  padding-top: 40px; 
}

/* CARD HEADER */
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background:#515052 ;
  position: sticky;
  top: 0;
  border-radius: 10px;
}

/* BUTTONS */
.buttons{
  background: #333;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.buttons:hover {
  background: orange;
}

.buttons:active {
  transform: scale(0.9);
}

.del-button{
  background: #333;
  border: 2px solid white;
  color: white;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.del-button:hover {
  background: red;
}
/* ===== HABIT GRID ===== */
.grid {
  margin-top: 15px;
  display: grid;
  background-color:  none;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  gap: 8px;
}


.grid::-webkit-scrollbar {
  display: none;
}

/* GRID BOX */
.box {
  width: 90%;
  padding-top: 100%;
  margin: 1px;
  background: #c6caed;
  border-radius: 4px;
}

.done {
  background:rgb(81, 241, 1);
}

/* ===== BOTTOM ADD BAR ===== */
.add-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #4CAF50;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.add-bar button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  height: 24px;
  cursor: pointer;
}

.add-bar button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}
.del-popup{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;

}
.del-popup-content{
  background: rgb(121, 155, 218);
  padding: 20px;
  height: 30%;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}
#cancel,#ok{
height: 40px;
width: 80px;
border-radius: 20%;
font-size: 20px;
}
/* Popup Background */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;

}

/* Popup Box */
.popup-content {
  background: rgb(121, 155, 218);
  padding: 20px;
  height: 30%;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-size: 30px;
}

.popup-content input {
  padding: 10px;
  height: 20%;
  width: 90%;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-size: 30px;
}
#addHabit,#closePopup{
height: 20%;
width: 30%;
border-radius: 20%;
font-size: 20px;
}


/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 768px) {

  .title {
    font-size: 22px;
  }

  .dates {
    height: 50px;
    width: 50px;
    font-size: 22px;
    
    
  }

  .card {
    margin: 10px;
    padding: 5px;
    max-height: 40vh;
  }

  .card-top h2 {
    font-size: 18px;
  }

  .buttons button {
    padding: 6px 10px;
    font-size: 14px;
  }

  .grid {
    grid-auto-columns: 32px;
  }

  .add-bar button {
    font-size: 14px;
    height: 22px;
  }
}
